<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link rel="stylesheet" href="~/Content/ElementUI/element-ui.css" />
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script src="~/Scripts/vue-router.js"></script>
    <script src="~/Scripts/axios.js"></script>
</head>
<body>

    @RenderBody()
</body>
</html>